/* app css stylesheet */
    .group {
        background-color: #f5e79e;
        border: solid;
        border-width: 1px;
    }    
    
    .sequence {
        background-color: cornflowerblue;
        border: solid;
        border-width: 1px;
    }
    .income {
        background-color: greenyellow;
        border: solid;
        border-width: 1px;
    }

    .record {
        background-color: white;
        border: dotted;
        border-width: 1px;
        margin: 10px 10px;
    }

    .selected {
  background-color: #fcf8e3;

}
