/* app css stylesheet */
.group {
    background-color: #f5e79e;
    border-top: 1px solid #ddd;
}.group2 {
    background-color: #e8cc37;
    border-top: 1px solid #ddd;
}

.sequence {
    background-color: cornflowerblue;
    border-top: 1px solid #ddd;
}

.income {
    background-color: greenyellow;
}

.record {
    background-color: white;
}
.record2 {
    background-color: #f9f9f9;
}

.selected {
    background-color: #fcf8e3;
}

.row {
    min-height: 31px;
    margin: 0px;
}

.type {
    width: 35px;
    position: relative;
    float: left;
}
.container {
    width: 90%
}

