<div class="row">
    <div class="col-lg-2">
        <button ng-click="prev()">Prev</button>
    </div>
    <div class="col-md-2">{{currentYear}} {{currentMonth+1}}</div>
    <div class="col-md-2">
        <button ng-click="current()">Current</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button ng-click="next()">Next</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-2">{{expectedExpences}}</div>
    <div class="col-md-2">{{currentAmount}}</div>
    <div class="col-md-2">{{leftAmount}}</div>
    <div class="col-md-2"></div>
</div>
<br>
<div class="row">
    <div class="col-md-2">Amount</div>
    <div class="col-md-2">Name</div>
    <div class="col-md-2">Time</div>
    <div class="col-md-2">Paid</div>
    <div class="col-md-2">
        <label>
            <button ng-click="edit()">Edit</button>
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <input type="number" ng-model="amount">
        </div>
        <div class="col-md-2">
            <input type="text" ng-model="name">
        </div>
        <div class="col-md-2">
            <input type="datetime" ng-model="time">
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" ng-model="paid">
                Paid
            </label>
        </div>
        <div class="col-md-2">
            <label>
                <button ng-click="save()">Add</button>
            </label>
        </div>
    </div>
</div>

<div class="row" ng-repeat="record in currentRecords">
    <div class="col-md-12">
        <div class="col-md-2">
            {{record.amount}}
        </div>
        <div class="col-md-2">
            {{record.name}}
        </div>
        <div class="col-md-2">
            {{record.time}}
        </div>
        <div class="col-md-2">
            <label>
                <input type="checkbox" ng-click="showEdit(record)" ng-model="record.paid">
                Paid
            </label>
        </div>
        <div class="col-md-2" >
            <button ng-hide="hideEdit" ng-click="delete(record)">Delete</button>
            <button ng-show="record.edit" ng-click="saveRecord(record)">Save</button>
        </div>

    </div>
</div>

